
.header {
  display: flex;
  height: 25px;
}

.title{
  height: 22px;
  width: 75%;
  color: rgba(0,0,0,0.45);
  font-family: "PingFang SC";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}
